<div class="container">
  <div class="row">
    <h3 class="text-center">Calculator</h3>
    
    <div class="col-md-4 col-md-offset-4">
      <div class="well">
        <%= form_for :calculator, url: { action: :new }, method: :get do |f|   %>
          <%= number_field_tag :a, params[:a] %>
          <%= select_tag :operation, options_for_select([['+', :sum], ['-',    :subtr]], params[:operation]) %>
          <%= number_field_tag :b, params[:b] %>
          <%= f.submit 'Calculate!' %>
        <% end %>
        
        <% unless @result.nil? %>
          <p> = <%= @result %> </p>
        <% end %>
      </div>
    </div>
  </div>
</div>