<div class="well text-center col-md-3">
  <h4><%= coin %></h4>
  <% if (coin == 'BTC') || (coin == 'LTC') || (coin == 'ETH') %>
    <% client.last_trade(product_id: coin + "-EUR") do |resp| %>
      <% @price = BigDecimal(resp['price']).to_f %>
      <%= p "Spot Rate: €%.2f" % @price %></br>
    <% end %>
  <% elsif  (coin == 'EUR') %>
    </br>
  <% else %>
    <% flash[:danger] = "Crypto Coin Tag Incorrect" %>
    <% controller.redirect_to root_url %>
  <% end %>
  
  <% puts case coin %>
  <% when 'BTC' %>
    <% @paid = 0.234 * 11500.0 %>
    <% @account_no = GDAX_BTC_ACC %>
  <% when 'LTC' %>
    <% @paid = 2.6 * 270.0 %>
    <% @account_no = GDAX_LTC_ACC %>
  <% when 'ETH' %>
    <% @paid = 0.0 %>
    <% @account_no = GDAX_ETH_ACC %>
  <% when 'EUR' %>
    <% @account_no = GDAX_EUR_ACC %>
  <% end %>
  
  <% client.account(@account_no) do |account| %>
    <%= p "Balance: %.2f #{account.currency}" % account.balance %></br>
    <% if coin != 'EUR' %>
      <% @cash = 0.0 %>
      <% @holdings = account.balance * @price %>
      <%= p "Holdings: €%.2f" % @holdings %></br>
      <%= p "Paid: €%.2f" % @paid %></br>
      <% @profit = @holdings - @paid %>
      <%= p "Profit: €%.2f" % @profit %>
      <% @TotalHoldings = @TotalHoldings + @holdings %>
      <% @TotalPaid = @TotalPaid + @paid %>
    <% else %>
      <% @cash = account.balance %>
      </br></br></br>
    <% end %>
    <% @TotalHoldings = @TotalHoldings + @cash %>
  <% end %>
</div>
