<!-- Auto refresh of page set to content="X" seconds
<!-- <head>-->
  <!--<meta http-equiv="refresh" content="3">-->
<!--</head> -->

<!--    <div class="col-md-6">-->
<!--      <div class="well">-->
<!--      <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script> <div class="coinmarketcap-currency-widget" data-currency="bitcoin" data-base="EUR" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="EUR" data-statsticker="false"></div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md-6">-->
<!--      <div class="well">-->
<!--        <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currency="litecoin" data-base="EUR" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="EUR" data-statsticker="false"></div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md-6">-->
<!--      <div class="well">-->
<!--        <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currency="ethereum" data-base="EUR" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="EUR" data-statsticker="true"></div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md-6">-->
<!--      <div class="well">-->
<!--        <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currency="monero" data-base="EUR" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="EUR" data-statsticker="true"></div>-->
<!--      </div>-->
<!--    </div>-->

<div class="container">
  <div class="row">
    <h3 class="text-center">CoinBase</h3>
    <div class="well text-center col-md-3">
      <h4>1</h4>
      <h5>Pick CryptoCurrency</h5>    
      <%= form_for('new', :method => :put, :remote => true) do  %>
        <div class="form-group">
          <%= select_tag :coin1, options_for_select(["BTC", "LTC", "ETH"]),
            {:onchange => "alert('1: '+$('#coin1').val() +'-EUR');"} %>
        </div>
      <% end %>
    </div>  

    <div class="well text-center col-md-3">
      <h4>2</h4>
      <h5>Pick CryptoCurrency</h5>    
      <%= form_for('new', :method => :put, :remote => true) do  %>
        <div class="form-group">
          <%= select_tag :coin2, options_for_select(["BTC", "LTC", "ETH"]),
            {:onchange => "alert('2: '+$('#coin2').val() +'-EUR');"} %>
        </div>
      <% end %>
    </div>

    <div class="well text-center col-md-3">
      <h4>3</h4>
      <h5>Pick CryptoCurrency</h5>    
      <%= form_for('new', :method => :put, :remote => true) do  %>
        <div class="form-group">
          <%= select_tag :coin3, options_for_select(["BTC", "LTC", "ETH"]),
            {:onchange => "alert('3: '+$('#coin3').val() +'-EUR');"} %>
        </div>
      <% end %>
    </div>

    <div class="well text-center col-md-3">
      <h4>4</h4>
      <h5>Pick CryptoCurrency</h5>    
      <%= form_for('new', :method => :put, :remote => true) do  %>
        <div class="form-group">
          <%= select_tag :coin4, options_for_select(["BTC", "LTC", "ETH"]),
            {:onchange => "alert('4: '+$('#coin4').val() +'-EUR');"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
